{% extends 'base.html.twig' %}

{% block title %} Page d'Accueil {% endblock %}

{% block body %}





<div class="container mt-4">
 <ul class="me-auto d-flex">
                <div class="d-grid gap-2">
                <button class="btn btn-lg btn-primary" type="button"><a class="nav-link" href="{{ path('ingredient.index') }}">Ingredients</a></button>
                <button class="btn btn-lg btn-primary" type="button"><a class="nav-link" href="{{ path('recipe.index') }}">Recettes</a></button>
                <button class="btn btn-lg btn-primary" type="button"><a class="nav-link" href="{{ path('diet.index') }}">Régimes</a></button>
                </div>
              

            
</div>
{% endblock %}
